// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #ffffff;
$mint: #effffb;
$green: #50d890;
$blue: #4f98ca;
$black:#304153;

