body {

    * {
        font-family: 'Lato';
    }

    background-color: $white;
    color: $black;

    @include mq('phablet') {
        font-size: 16px;
    }
}

nav {
    width: 200px;
    height: 100%;
    background-color: $black;
    box-shadow: 0 4px 8px 0 rgba($black, 0.2), 0 6px 20px 0 rgba($black, 0.19);
    position: fixed;
    padding-top: 60px;
    overflow: auto;
    color: $white;
    text-align: left;

    .nav-div{
        background-color: $blue;
        text-align:left;
        color: $white;
        font-weight: bold;
        padding: 16px;
        p{
            margin:0;
        }
    }

    .logo{
        display:block;
        margin: 25px auto;
        width: 80px;
    }

    .desc{
        text-align:center;
        font-size: 12px;
        color: rgba($white,0.9);
    }

    .link {
        display: block;
        padding: 16px;
        text-decoration: none;
        &:hover:not(.active) {
            background-color: rgba(0,0,0,0.1);
            color: white;
        }
    }

    .active{
        border-left: 5px solid rgba($blue,0.8);
        background-color: rgba(0,0,0,0.2);
    }

}

header {
    background-color: $blue;
    position: fixed;
    width: 100%;
    z-index:99999;

    h1{
        background-color: rgba($white,0.2);
        padding: 0px 10px;
        font-weight:bold;
        margin-bottom: 0;
        color: $white;
        margin: 5px;
        border-radius: 10px;
        &:hover{
            color: rgba($white,0.9);
            background-color: rgba($white,0.1);
        }
    }

    img{
        background-color: $white;
        width:35px;
        height:35px;
        padding: 2px; 
        margin-right: 15px;
        &:hover{    
            background-color: rgba($white,0.9)
        }
    }

}

main {
    padding:100px 60px 0px 60px;
    margin-left: 200px;
}

@include mq('tablet','max'){   
    nav {    
        width: 100%;
        height: auto;       
        position: relative;
        padding-top:0;
        .logo, .desc{
            display: none;
        }
        .link{
            background-color: $black;
            float: none;
        }
        .menu{
            width:32px;
            height:32px;
            align-self: center;
            padding: 5px;
            background-color: rgba($blue,0.8);
            margin-right: 16px;
        }
        .active{
            background-color: rgba(0,0,0,0.2);
        }
    }

    main{
        padding: 60px 40px 0px 40px;
        margin-left: 0;
    }

    .map-view-header{
        text-align:center;
        h1{
            font-size:36px;
        }
        p{
            margin:0;
        }
    }

}

@include mq('phone','max'){   

    nav{    
        width: 100%;
        height: auto;       
        position: relative;
        h1{
            display: none;
        }
    }
    
    main{
        margin-left: 0;
    }
}

//styles reset

img {
    max-width: 100%;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: inline-block;
}

a, button, input {
    outline: none!important;
    box-shadow: none!important;
    color: inherit!important;
}

.state-name {
    text-align: center;
    font-weight:bold;
    font-size:42px;
    color:$green;
}

.card-trackovid {
    box-shadow: 0 4px 8px 0 rgba($black, 0.2), 0 6px 20px 0 rgba($green, 0.19);
    border-radius: .75rem;
    div:first-child {
        text-align: center;
    }
    .card-body {
        min-height: 70px;
        h5{
            font-size: 44px;
            @include mq('phone','max'){ font-size:34px; } 
        }
        p{
            margin:0;
            font-size: 12px;
            text-align: center;
        }
    }
}

table{
    box-shadow: 0 4px 8px 0 rgba($black, 0.2), 0 6px 20px 0 rgba($black, 0.19);
    border-radius: .75rem;
    thead{
        background-color: $green;
        color:white;
    }
}

.map-view-header{
    h1{
        color:$black;
        font-weight:bold;
    }
    p{
        color:rgba($black,0.5);
        margin-top: -15px;
        margin-left: 5px;
    }
}